/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: white;
    font-size: 1em;
    line-height: 1.4;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.main aside {
    border-top: 20px solid #e44d26;
    background: #f16529;
    padding: 0px 5% 10px;
    color: white;
}

.white {
    color: white;
}

.main {
    padding: 30px 0;
}

.ie7 .title {
    padding-top: 20px;
}

@media only screen and (min-width: 520px) {

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

    .wrapper {
        width: 480px;
        margin: 0 auto;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
